-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: ride_hailing
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ajuste_tarifa`
--

DROP TABLE IF EXISTS `ajuste_tarifa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ajuste_tarifa` (
  `id_ajuste` bigint NOT NULL AUTO_INCREMENT,
  `id_viaje` bigint NOT NULL,
  `id_tipo_ajuste` bigint NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `importe_ajuste` decimal(10,2) NOT NULL,
  `fecha_ajuste` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_ajuste`),
  KEY `idx_ajuste_viaje` (`id_viaje`),
  KEY `idx_ajuste_tipo` (`id_tipo_ajuste`),
  CONSTRAINT `fk_ajuste_tipo` FOREIGN KEY (`id_tipo_ajuste`) REFERENCES `tipo_ajuste_tarifa` (`id_tipo_ajuste`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_ajuste_viaje` FOREIGN KEY (`id_viaje`) REFERENCES `viaje` (`id_viaje`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ajuste_tarifa`
--

LOCK TABLES `ajuste_tarifa` WRITE;
/*!40000 ALTER TABLE `ajuste_tarifa` DISABLE KEYS */;
/*!40000 ALTER TABLE `ajuste_tarifa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditoria_evento`
--

DROP TABLE IF EXISTS `auditoria_evento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditoria_evento` (
  `id_auditoria` bigint NOT NULL AUTO_INCREMENT,
  `tabla_afectada` varchar(50) NOT NULL,
  `id_registro` bigint NOT NULL,
  `accion` varchar(20) NOT NULL,
  `detalle` varchar(255) DEFAULT NULL,
  `usuario_bd` varchar(100) NOT NULL,
  `fecha_evento` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_auditoria`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria_evento`
--

LOCK TABLES `auditoria_evento` WRITE;
/*!40000 ALTER TABLE `auditoria_evento` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria_evento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calificacion`
--

DROP TABLE IF EXISTS `calificacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calificacion` (
  `id_calificacion` bigint NOT NULL AUTO_INCREMENT,
  `id_viaje` bigint NOT NULL,
  `id_emisor` bigint NOT NULL,
  `id_receptor` bigint NOT NULL,
  `rol_emisor` varchar(20) NOT NULL,
  `rol_receptor` varchar(20) NOT NULL,
  `puntuacion` int NOT NULL,
  `comentario` varchar(255) DEFAULT NULL,
  `fecha_calificacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_calificacion`),
  KEY `idx_calificacion_viaje` (`id_viaje`),
  KEY `idx_calificacion_emisor` (`id_emisor`),
  KEY `idx_calificacion_receptor` (`id_receptor`),
  CONSTRAINT `fk_calificacion_emisor` FOREIGN KEY (`id_emisor`) REFERENCES `usuario` (`id_usuario`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_calificacion_receptor` FOREIGN KEY (`id_receptor`) REFERENCES `usuario` (`id_usuario`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_calificacion_viaje` FOREIGN KEY (`id_viaje`) REFERENCES `viaje` (`id_viaje`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_calificacion_puntuacion` CHECK ((`puntuacion` between 1 and 5)),
  CONSTRAINT `chk_calificacion_roles` CHECK (((`rol_emisor` in (_utf8mb4'RIDER',_utf8mb4'DRIVER')) and (`rol_receptor` in (_utf8mb4'RIDER',_utf8mb4'DRIVER')) and (`rol_emisor` <> `rol_receptor`)))
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calificacion`
--

LOCK TABLES `calificacion` WRITE;
/*!40000 ALTER TABLE `calificacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `calificacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company`
--

DROP TABLE IF EXISTS `company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company` (
  `id_company` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `cif` varchar(20) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `activa` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_company`),
  UNIQUE KEY `cif` (`cif`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company`
--

LOCK TABLES `company` WRITE;
/*!40000 ALTER TABLE `company` DISABLE KEYS */;
INSERT INTO `company` VALUES (1,'MoveFast Mobility','A12345678','911111111','contacto@movefast.com',1),(2,'UrbanGo Transport','B87654321','922222222','info@urbango.com',1),(3,'CityRide Partners','C11223344','933333333','support@cityride.com',1),(4,'BlueCab Services','D55667788','944444444','hello@bluecab.com',1),(5,'MetroDrive Group','E99887766','955555555','contact@metrodrive.com',0);
/*!40000 ALTER TABLE `company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `driver`
--

DROP TABLE IF EXISTS `driver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver` (
  `id_usuario` bigint NOT NULL,
  `id_company` bigint NOT NULL,
  `num_licencia` varchar(50) NOT NULL,
  `estado_driver` varchar(30) NOT NULL,
  `fecha_alta_driver` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `num_licencia` (`num_licencia`),
  KEY `fk_driver_company` (`id_company`),
  CONSTRAINT `fk_driver_company` FOREIGN KEY (`id_company`) REFERENCES `company` (`id_company`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_driver_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driver`
--

LOCK TABLES `driver` WRITE;
/*!40000 ALTER TABLE `driver` DISABLE KEYS */;
INSERT INTO `driver` VALUES (1,1,'LIC-0001','ACTIVO','2026-01-10 09:30:00'),(2,2,'LIC-0002','ACTIVO','2026-01-11 10:30:00'),(3,1,'LIC-0003','ACTIVO','2026-01-12 11:30:00'),(4,3,'LIC-0004','ACTIVO','2026-01-13 12:30:00'),(5,4,'LIC-0005','INACTIVO','2026-01-14 13:30:00'),(6,2,'LIC-0006','ACTIVO','2026-01-15 14:30:00');
/*!40000 ALTER TABLE `driver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `driver_vehiculo`
--

DROP TABLE IF EXISTS `driver_vehiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver_vehiculo` (
  `id_usuario_driver` bigint NOT NULL,
  `id_vehiculo` bigint NOT NULL,
  `fecha_desde` datetime NOT NULL,
  `fecha_hasta` datetime DEFAULT NULL,
  PRIMARY KEY (`id_usuario_driver`,`id_vehiculo`,`fecha_desde`),
  KEY `fk_drivervehiculo_vehiculo` (`id_vehiculo`),
  CONSTRAINT `fk_drivervehiculo_driver` FOREIGN KEY (`id_usuario_driver`) REFERENCES `driver` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_drivervehiculo_vehiculo` FOREIGN KEY (`id_vehiculo`) REFERENCES `vehiculo` (`id_vehiculo`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_fechas_driver_vehiculo` CHECK (((`fecha_hasta` is null) or (`fecha_hasta` >= `fecha_desde`)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driver_vehiculo`
--

LOCK TABLES `driver_vehiculo` WRITE;
/*!40000 ALTER TABLE `driver_vehiculo` DISABLE KEYS */;
INSERT INTO `driver_vehiculo` VALUES (1,1,'2026-02-01 08:00:00',NULL),(2,2,'2026-02-01 08:30:00',NULL),(2,8,'2026-01-20 08:00:00','2026-01-31 20:00:00'),(3,3,'2026-02-02 09:00:00',NULL),(3,9,'2026-01-18 09:00:00','2026-02-15 18:00:00'),(4,4,'2026-02-02 09:30:00',NULL),(5,5,'2026-02-03 10:00:00','2026-03-01 00:00:00'),(5,6,'2026-03-01 00:01:00',NULL),(6,7,'2026-02-04 10:30:00',NULL);
/*!40000 ALTER TABLE `driver_vehiculo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incidencia`
--

DROP TABLE IF EXISTS `incidencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `incidencia` (
  `id_incidencia` bigint NOT NULL AUTO_INCREMENT,
  `id_viaje` bigint NOT NULL,
  `id_usuario_reporta` bigint NOT NULL,
  `tipo_incidencia` varchar(50) NOT NULL,
  `descripcion` varchar(255) NOT NULL,
  `estado_incidencia` varchar(30) NOT NULL,
  `fecha_reporte` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_resolucion` datetime DEFAULT NULL,
  PRIMARY KEY (`id_incidencia`),
  KEY `idx_incidencia_viaje` (`id_viaje`),
  KEY `idx_incidencia_usuario` (`id_usuario_reporta`),
  KEY `idx_incidencia_estado` (`estado_incidencia`),
  CONSTRAINT `fk_incidencia_usuario` FOREIGN KEY (`id_usuario_reporta`) REFERENCES `usuario` (`id_usuario`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_incidencia_viaje` FOREIGN KEY (`id_viaje`) REFERENCES `viaje` (`id_viaje`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_incidencia_estado` CHECK ((`estado_incidencia` in (_utf8mb4'ABIERTA',_utf8mb4'EN_REVISION',_utf8mb4'RESUELTA',_utf8mb4'CERRADA'))),
  CONSTRAINT `chk_incidencia_fechas` CHECK (((`fecha_resolucion` is null) or (`fecha_resolucion` >= `fecha_reporte`)))
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incidencia`
--

LOCK TABLES `incidencia` WRITE;
/*!40000 ALTER TABLE `incidencia` DISABLE KEYS */;
/*!40000 ALTER TABLE `incidencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metodo_pago`
--

DROP TABLE IF EXISTS `metodo_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metodo_pago` (
  `id_metodo_pago` bigint NOT NULL AUTO_INCREMENT,
  `id_usuario` bigint NOT NULL,
  `tipo` varchar(30) NOT NULL,
  `detalle` varchar(100) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_metodo_pago`),
  KEY `idx_metodo_pago_usuario` (`id_usuario`),
  CONSTRAINT `fk_metodo_pago_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_metodo_pago_tipo` CHECK ((`tipo` in (_utf8mb4'TARJETA',_utf8mb4'PAYPAL',_utf8mb4'EFECTIVO',_utf8mb4'BIZUM')))
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metodo_pago`
--

LOCK TABLES `metodo_pago` WRITE;
/*!40000 ALTER TABLE `metodo_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `metodo_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `oferta`
--

DROP TABLE IF EXISTS `oferta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `oferta` (
  `id_oferta` bigint NOT NULL AUTO_INCREMENT,
  `id_viaje` bigint NOT NULL,
  `id_driver` bigint NOT NULL,
  `fecha_envio` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `estado_oferta` varchar(30) NOT NULL,
  `fecha_respuesta` datetime DEFAULT NULL,
  PRIMARY KEY (`id_oferta`),
  KEY `idx_oferta_viaje` (`id_viaje`),
  KEY `idx_oferta_driver` (`id_driver`),
  KEY `idx_oferta_estado` (`estado_oferta`),
  CONSTRAINT `fk_oferta_driver` FOREIGN KEY (`id_driver`) REFERENCES `driver` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_oferta_viaje` FOREIGN KEY (`id_viaje`) REFERENCES `viaje` (`id_viaje`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_oferta_fechas` CHECK (((`fecha_respuesta` is null) or (`fecha_respuesta` >= `fecha_envio`)))
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `oferta`
--

LOCK TABLES `oferta` WRITE;
/*!40000 ALTER TABLE `oferta` DISABLE KEYS */;
/*!40000 ALTER TABLE `oferta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rider`
--

DROP TABLE IF EXISTS `rider`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rider` (
  `id_usuario` bigint NOT NULL,
  PRIMARY KEY (`id_usuario`),
  CONSTRAINT `fk_rider_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rider`
--

LOCK TABLES `rider` WRITE;
/*!40000 ALTER TABLE `rider` DISABLE KEYS */;
INSERT INTO `rider` VALUES (7),(8),(9),(10),(11),(12),(13),(14),(15),(16),(17),(18),(19);
/*!40000 ALTER TABLE `rider` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_ajuste_tarifa`
--

DROP TABLE IF EXISTS `tipo_ajuste_tarifa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipo_ajuste_tarifa` (
  `id_tipo_ajuste` bigint NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_tipo_ajuste`),
  UNIQUE KEY `codigo` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_ajuste_tarifa`
--

LOCK TABLES `tipo_ajuste_tarifa` WRITE;
/*!40000 ALTER TABLE `tipo_ajuste_tarifa` DISABLE KEYS */;
INSERT INTO `tipo_ajuste_tarifa` VALUES (1,'TIEMPO_ESPERA','Tiempo de espera','Incremento por espera del conductor'),(2,'CAMBIO_DESTINO','Cambio de destino','El usuario modifica el destino durante el viaje'),(3,'PEAJE','Peaje','Coste adicional por peajes'),(4,'SUPLEMENTO_DEMANDA','Suplemento por demanda','Incremento por alta demanda'),(5,'DESCUENTO','Descuento','Ajuste negativo aplicado sobre la tarifa'),(6,'LIMPIEZA','Suplemento de limpieza','Coste adicional por incidencia de limpieza');
/*!40000 ALTER TABLE `tipo_ajuste_tarifa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id_usuario` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(80) NOT NULL,
  `apellidos` varchar(120) NOT NULL,
  `email` varchar(120) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `fecha_alta` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_dashboard_incidencias`
--

DROP TABLE IF EXISTS `v_dashboard_incidencias`;
/*!50001 DROP VIEW IF EXISTS `v_dashboard_incidencias`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_dashboard_incidencias` AS SELECT 
 1 AS `id_incidencia`,
 1 AS `id_viaje`,
 1 AS `tipo_incidencia`,
 1 AS `estado_incidencia`,
 1 AS `reportada_por`,
 1 AS `fecha_reporte`,
 1 AS `fecha_resolucion`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_dashboard_ofertas`
--

DROP TABLE IF EXISTS `v_dashboard_ofertas`;
/*!50001 DROP VIEW IF EXISTS `v_dashboard_ofertas`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_dashboard_ofertas` AS SELECT 
 1 AS `id_oferta`,
 1 AS `id_viaje`,
 1 AS `id_driver`,
 1 AS `driver`,
 1 AS `company`,
 1 AS `estado_oferta`,
 1 AS `fecha_envio`,
 1 AS `fecha_respuesta`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_dashboard_viajes_finalizados`
--

DROP TABLE IF EXISTS `v_dashboard_viajes_finalizados`;
/*!50001 DROP VIEW IF EXISTS `v_dashboard_viajes_finalizados`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_dashboard_viajes_finalizados` AS SELECT 
 1 AS `id_viaje`,
 1 AS `fecha_solicitud`,
 1 AS `fecha_inicio`,
 1 AS `fecha_fin`,
 1 AS `estado`,
 1 AS `distancia_km`,
 1 AS `duracion_min`,
 1 AS `importe_final`,
 1 AS `metodo_pago`,
 1 AS `id_driver`,
 1 AS `driver`,
 1 AS `id_company`,
 1 AS `company`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `vehiculo`
--

DROP TABLE IF EXISTS `vehiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehiculo` (
  `id_vehiculo` bigint NOT NULL AUTO_INCREMENT,
  `matricula` varchar(20) NOT NULL,
  `marca` varchar(50) NOT NULL,
  `modelo` varchar(50) NOT NULL,
  `color` varchar(30) DEFAULT NULL,
  `plazas` int NOT NULL,
  `anio` int DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_vehiculo`),
  UNIQUE KEY `matricula` (`matricula`),
  CONSTRAINT `chk_vehiculo_anio` CHECK (((`anio` is null) or (`anio` >= 1900))),
  CONSTRAINT `chk_vehiculo_plazas` CHECK ((`plazas` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehiculo`
--

LOCK TABLES `vehiculo` WRITE;
/*!40000 ALTER TABLE `vehiculo` DISABLE KEYS */;
INSERT INTO `vehiculo` VALUES (1,'1234ABC','Toyota','Corolla','Blanco',4,2022,1),(2,'5678DEF','Seat','Leon','Negro',4,2021,1),(3,'9012GHI','Tesla','Model 3','Rojo',4,2023,1),(4,'3456JKL','Hyundai','Ioniq','Azul',4,2022,1),(5,'7890MNO','Kia','Niro','Gris',4,2021,1),(6,'1122PQR','Renault','Megane','Blanco',4,2020,1),(7,'3344STU','Volkswagen','Golf','Negro',4,2022,1),(8,'5566VWX','Skoda','Octavia','Plata',4,2019,1),(9,'7788YZA','Peugeot','308','Azul',4,2020,0);
/*!40000 ALTER TABLE `vehiculo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `viaje`
--

DROP TABLE IF EXISTS `viaje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `viaje` (
  `id_viaje` bigint NOT NULL AUTO_INCREMENT,
  `id_rider` bigint NOT NULL,
  `id_driver_asignado` bigint DEFAULT NULL,
  `id_metodo_pago` bigint NOT NULL,
  `estado` varchar(30) NOT NULL,
  `fecha_solicitud` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_aceptacion` datetime DEFAULT NULL,
  `fecha_inicio` datetime DEFAULT NULL,
  `fecha_fin` datetime DEFAULT NULL,
  `origen_lat` decimal(10,7) NOT NULL,
  `origen_lng` decimal(10,7) NOT NULL,
  `origen_direccion` varchar(255) NOT NULL,
  `destino_lat` decimal(10,7) NOT NULL,
  `destino_lng` decimal(10,7) NOT NULL,
  `destino_direccion` varchar(255) NOT NULL,
  `importe_estimado` decimal(10,2) NOT NULL,
  `importe_final` decimal(10,2) NOT NULL,
  `distancia_km` decimal(8,2) DEFAULT NULL,
  `duracion_min` decimal(8,2) DEFAULT NULL,
  PRIMARY KEY (`id_viaje`),
  KEY `idx_viaje_rider` (`id_rider`),
  KEY `idx_viaje_driver` (`id_driver_asignado`),
  KEY `idx_viaje_metodo_pago` (`id_metodo_pago`),
  KEY `idx_viaje_estado` (`estado`),
  CONSTRAINT `fk_viaje_driver` FOREIGN KEY (`id_driver_asignado`) REFERENCES `driver` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_viaje_metodo_pago` FOREIGN KEY (`id_metodo_pago`) REFERENCES `metodo_pago` (`id_metodo_pago`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_viaje_rider` FOREIGN KEY (`id_rider`) REFERENCES `rider` (`id_usuario`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_viaje_distancia` CHECK (((`distancia_km` is null) or (`distancia_km` >= 0))),
  CONSTRAINT `chk_viaje_duracion` CHECK (((`duracion_min` is null) or (`duracion_min` >= 0))),
  CONSTRAINT `chk_viaje_fechas` CHECK (((`fecha_aceptacion` is null) or (`fecha_aceptacion` >= `fecha_solicitud`))),
  CONSTRAINT `chk_viaje_importes` CHECK (((`importe_estimado` >= 0) and (`importe_final` >= 0)))
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `viaje`
--

LOCK TABLES `viaje` WRITE;
/*!40000 ALTER TABLE `viaje` DISABLE KEYS */;
/*!40000 ALTER TABLE `viaje` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `v_dashboard_incidencias`
--

/*!50001 DROP VIEW IF EXISTS `v_dashboard_incidencias`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_dashboard_incidencias` AS select `i`.`id_incidencia` AS `id_incidencia`,`i`.`id_viaje` AS `id_viaje`,`i`.`tipo_incidencia` AS `tipo_incidencia`,`i`.`estado_incidencia` AS `estado_incidencia`,concat(`u`.`nombre`,' ',`u`.`apellidos`) AS `reportada_por`,`i`.`fecha_reporte` AS `fecha_reporte`,`i`.`fecha_resolucion` AS `fecha_resolucion` from (`incidencia` `i` join `usuario` `u` on((`i`.`id_usuario_reporta` = `u`.`id_usuario`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_dashboard_ofertas`
--

/*!50001 DROP VIEW IF EXISTS `v_dashboard_ofertas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_dashboard_ofertas` AS select `o`.`id_oferta` AS `id_oferta`,`o`.`id_viaje` AS `id_viaje`,`o`.`id_driver` AS `id_driver`,concat(`u`.`nombre`,' ',`u`.`apellidos`) AS `driver`,`c`.`nombre` AS `company`,`o`.`estado_oferta` AS `estado_oferta`,`o`.`fecha_envio` AS `fecha_envio`,`o`.`fecha_respuesta` AS `fecha_respuesta` from (((`oferta` `o` join `driver` `d` on((`o`.`id_driver` = `d`.`id_usuario`))) join `usuario` `u` on((`d`.`id_usuario` = `u`.`id_usuario`))) join `company` `c` on((`d`.`id_company` = `c`.`id_company`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_dashboard_viajes_finalizados`
--

/*!50001 DROP VIEW IF EXISTS `v_dashboard_viajes_finalizados`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_dashboard_viajes_finalizados` AS select `v`.`id_viaje` AS `id_viaje`,`v`.`fecha_solicitud` AS `fecha_solicitud`,`v`.`fecha_inicio` AS `fecha_inicio`,`v`.`fecha_fin` AS `fecha_fin`,`v`.`estado` AS `estado`,`v`.`distancia_km` AS `distancia_km`,`v`.`duracion_min` AS `duracion_min`,`v`.`importe_final` AS `importe_final`,`mp`.`tipo` AS `metodo_pago`,`d`.`id_usuario` AS `id_driver`,concat(`u`.`nombre`,' ',`u`.`apellidos`) AS `driver`,`c`.`id_company` AS `id_company`,`c`.`nombre` AS `company` from ((((`viaje` `v` left join `metodo_pago` `mp` on((`v`.`id_metodo_pago` = `mp`.`id_metodo_pago`))) left join `driver` `d` on((`v`.`id_driver_asignado` = `d`.`id_usuario`))) left join `usuario` `u` on((`d`.`id_usuario` = `u`.`id_usuario`))) left join `company` `c` on((`d`.`id_company` = `c`.`id_company`))) where (`v`.`estado` = 'FINALIZADO') */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-25  0:53:36
